* {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
}

button {
    background-color: #03BA00;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

img {
    width: unset;
    height: unset;
    max-width: 100%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0 0;
}

li {
    padding: 0.5rem 0;
}

.copyright-text {
    text-align: center;
    padding: 1rem;
}