* {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bolder;
    color: red;
    text-decoration: underline;
}

button {
    background: green;
    color: white;
    padding: 0.25rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

img {
    width: unset;
    height: unset;
    max-width: 100%;
    margin: auto;
}

ul {
    border: 1px solid green;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 20px 20px;
}

li {
    padding: 0.5rem 0;
}

.copyright {
    text-align: center;
}