@keyframes rotate {
  from {
    transform: rotate(360deg) scaleX(-1);
  }

  to {
    transform: rotate(0deg) scaleX(-1);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);

  &::before {
    background: url('https://static.line-scdn.net/line_cs_sp/174581ba6de/my-inquiry-spa/assets/loading.png') center / contain no-repeat;
    content: '';
    width: 100px;
    height: 100px;
    animation: rotate 1s linear infinite;
  }
}
